<!-- form.html consists of a simple form with all the required input fields. This page loads on routing to http://127.0.0.1:5000/-->
<html>
<!-- Head section consists of title of application and source script files knockoutjs and jquery-->

<head>
    <title>Feature App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for ('static', filename='js/knockout-3.4.2.js')}}"></script>
    <script type="text/javascript" src="{{ url_for ('static', filename='js/jquery-3.3.1.js')}}"></script>
    <script type="text/javascript" src="{{ url_for ('static', filename='js/bootstrap.min.js')}}"></script>
    {% extends "base.html" %}
    <style>
        code {
            background-color: white
        }

        label {
            text-align: left;
        }
    </style>
</head>

<body>
    {% block content %}
    <h2>Feature Request App -- Navneet</h2>
    <div class="container" style="width:52%; margin-right: 26%;">
        <div class="col-md-offset-2">
            <h3 style="text-align: center;"><b>Feature Request Form</b></h3>
        </div>
        <br>
        <!-- Form which contains Title, Description, Client, Client Priority, Target date and Product Area and is bind with featureRequestFormBind.js using knockout js concept.-->
        <form class="form-horizontal" data-bind="submit: onSubmit">
            <div class="form-group">
                <label class="col-sm-3 control-label">Title<code>*</code></label>
                <div class="col-sm-8">
                    <input class="form-control" id="title" type="text" maxlength="100" data-bind='value: title, valueUpdate: "afterkeydown"'
                        required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripiton</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="descripiton" type="text" maxlength="1000" data-bind='value: description' /></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Client<code>*</code></label>
                <div class="col-sm-8">
                    <select class="form-control" id="client" data-bind="value: client" required>
                            <option value="Client A">Client A</option>
                            <option value="Client B">Client B</option>
                            <option value="Client C">Client C</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Client Priority<code>*</code></label>
                <div class="col-sm-8">
                    <input class="form-control" id="clientPriority" type="number" min="1" pattern="[0-9]" data-bind='value: clientPriority, valueUpdate: "afterkeydown"'
                        required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Target Date</label>
                <div class="col-sm-8">
                    <input class="form-control" id="targetDate" type="date" max="2019-02-26" data-bind='value: targetDate, valueUpdate: "afterkeydown"'
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Product Area<code>*</code></label>
                <div class="col-sm-8">
                    <select class="form-control" id="productArea" data-bind="value: productArea" required>
                            <option value="Policies">Policies</option>
                            <option value="Billing">Billing</option>
                            <option value="Claims">Claims</option>
                            <option value="Reports">Reports</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <!-- Consist of source script for binding data in form and using ajax post it sends data to routes.py-->
        <script type="text/javascript" src="{{ url_for ('static', filename='js/featureRequestFormBind.js')}}"></script>
        <h3 style="margin-left: 38%">
            <a href="{{ url_for('featureRequestDetails') }}" id="detailspage">List of Feature Requests</a>
        </h3>
    </div>
    <script>
        // this script is used to restrict the target date to only display future dates starting from tommorrow.
        var now = new Date(),
            minDate = now.toISOString().substring(0, 10);
        $('#targetDate').prop('min', minDate);
    </script>
    {% endblock %}
</body>

</html>